<div class="bootstrap-wrapper">
  <div class="container text-center mt">
    <h1>Welcome to Admin Section</h1><br><br>
    <a routerLink="/student-module" mat-raised-button color="accent" class="mt">Student Module</a><br><br>
    <a routerLink="/question-module" mat-raised-button color="accent" class="mt">Question Module</a><br><br>
    <a routerLink="/rules-module" mat-raised-button color="accent" class="mt">Rules Module</a><br><br>
    <a routerLink="/result" mat-raised-button color="accent" class="mt">Result</a><br><br>
  </div>
</div>
