<div class="container">
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Online-Examination </h5>
          <p class="card-text">How are You ?</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><button class="btn btn-primary-outline"> A item</button></li>
            <li class="list-group-item"><button class="btn btn-primary-outline">A second item</button></li>
            <li class="list-group-item"><button class="btn btn-primary-outline">A third item</button></li>
            <li class="list-group-item"><button class="btn btn-primary-outline">A Fourth item</button></li>
          </ul>
          <a href="#" class="btn btn-primary-outline">Previous</a>&nbsp;&nbsp;
          <a href="#" class="btn btn-primary">Q-No</a>&nbsp;&nbsp;
          <a href="#" class="btn btn-primary-outline">Next</a>
        </div>
    </div>
</div>
