<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
	<div class="screen">
		<div class="screen__content">
            <span style="text-align: center;"><h1> ADD Question</h1></span>
			<form class="login">
                <div class="login__field" style="padding-bottom:20px">
                    
					
					<label>Subject Name:&nbsp;</label>
					<input type="text" class="login__input" placeholder="Subject Name">
				</div>
                <div class="login__field">
                    
					
					<label>Question Id:&nbsp;</label>
					<input type="text" class="login__input" placeholder="Question_id">
				</div>
                <div class="login__field">
                    
					
					<label>Question:&nbsp;</label>
					<input type="text" class="login__input" placeholder="Question">
				</div>
                <div class="login__field">
                    
					
					<label>Answer:&nbsp;</label>
					<input type="text" class="login__input" placeholder="Answer">
				</div>
                <div class="login__field">
                    
					
					<label>Author:&nbsp;</label>
					<input type="text" class="login__input" placeholder="Author">
				</div>
				
			</form>
			<form class="login">
                <div class="login__field" style="padding-bottom:20px">
                    
					
					<label>Paper Set:&nbsp;</label>
					<input type="text" class="login__input" placeholder="Question_id">
				</div>
                <div class="login__field">
                    
					
					<label>Option a:&nbsp;</label>
					<input type="text" class="login__input">
				</div>
                <div class="login__field">
                    
					
					<label>Option b:&nbsp;</label>
					<input type="text" class="login__input">
				</div>
                <div class="login__field">
                    
					
					<label>Option c:&nbsp;</label>
					<input type="text" class="login__input">
				</div>
                <div class="login__field">
                    
					
					<label>Option d:&nbsp;</label>
					<input type="text" class="login__input">
				</div>
				
			</form>
			<button (click)="openDialogWithRef(firstDialog)"  routerLinkActive="active" class="button login__submit">
				<span class="button__text" >Add</span>
				
				
			</button>
							
			<div class="social-login">
				<div class="social-icons">
					
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
<ng-template #firstDialog>
	<div >
		<h2 matDialogTitle>Message</h2>
	<p matDialogContent><em style="font-weight: 800;">Question Added Successfully!!</em></p>
	<mat-dialog-actions align="end">
	  <button mat-button matDialogClose routerLink="/home" class="login__submit2">OK</button>
	</mat-dialog-actions>
	</div>
	
  </ng-template>